__pycache__

*.aux.xml
*.egg-info
.ipynb_checkpoints
.mypy_cache
.env

build
dist
Thumbs.db
local_settings.py
local_settings_htt.py
notebook_data.json
static_data_paths.json
debug.log

# Pytests
.coverage
coverage.xml
hhnk_threedi_tools/breaches/api_ldo_key.txt
*.log
project.json
tests/data/schematisation_builder/test_schematisation_builder

empty.gpkg
tests/data/model_test/01_source_data/polder_polygon.gpkg
tests/data/model_test/01_source_data/vergelijkingstool/input_data_old/DAMO.gpkg
tests/data/model_test/01_source_data/vergelijkingstool/input_data_old/HDB.gpkg
tests/data/model_test/01_source_data/vergelijkingstool/output/DAMO_comparison.gpkg
tests/data/model_test/01_source_data/vergelijkingstool/output/threedi_comparison.gpkg
