# MANIFEST.in is used in building the pypi wheels.
include *.rst
include README.md
graft hhnk_threedi_tools/utils
graft hhnk_threedi_tools/resources

global-exclude */__pycache__/* *.py[cod]

# Exclude cache, tests, dev files
prune **\.ipynb_checkpoints
prune **\.mypy_cache
prune .pytest_cache
prune .pixi
prune tests
prune deprecated