# Exclude byte-compiled code # no-found due to natural exclusion
prune /tests
global-exclude */__pycache__/*
# Include docs in the root.
include *.rst
#include notebook
graft hhnk_threedi_tools/utils
graft hhnk_threedi_tools/resources

