affine==2.4.0
alembic==1.15.2
asttokens==3.0.0
attrs==25.3.0
branca==0.8.1
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.0
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==3.1.1
colorama==0.4.6
condenser==0.2.1
contourpy==1.3.2
cryptography==44.0.3
cycler==0.12.1
dask==2025.5.0
dask-geomodeling==2.5.5
decorator==5.2.1
et-xmlfile==2.0.0
executing==2.2.0
fiona==1.10.1
folium==0.19.6
fonttools==4.58.0
fsspec==2025.3.2
gdal @ file:///C:/Users/steven.hosper/Downloads/gdal-3.10.2-cp312-cp312-win_amd64.whl
geoalchemy2==0.17.1
geopandas==1.0.1
greenlet==3.2.2
h5netcdf==1.6.1
h5py==3.13.0
hhnk-research-tools @ git+https://github.com/HHNK/hhnk-research-tools.git@7473b5e4b2eef93966221bb9c8f5e2677f51f4a7
hydamo-validation==1.4.0
idna==3.10
iniconfig==2.1.0
ipython==9.2.0
ipython-pygments-lexers==1.1.1
jedi==0.19.2
jinja2==3.1.6
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
kiwisolver==1.4.8
locket==1.0.0
mako==1.3.10
markupsafe==3.0.2
matplotlib==3.10.3
matplotlib-inline==0.1.7
numpy==1.26.4
openpyxl==3.1.5
oracledb==3.1.1
packaging==25.0
pandas==2.1.4
parso==0.8.4
partd==1.4.2
pillow==11.2.1
pluggy==1.6.0
prompt-toolkit==3.0.51
pure-eval==0.2.3
pycparser==2.22
pygments==2.19.1
pyogrio==0.11.0
pyparsing==3.2.3
pyproj==3.7.1
pytest==8.3.5
python-dateutil==2.9.0.post0
pytz==2025.2
pyyaml==6.0.2
rasterio==1.4.3
rasterstats==0.20.0
referencing==0.36.2
requests==2.32.3
rioxarray==0.19.0
rpds-py==0.25.0
scipy==1.15.3
seaborn==0.13.2
shapely==2.1.0
simplejson==3.20.1
six==1.17.0
sqlalchemy==2.0.41
stack-data==0.6.3
threedi-api-client==4.1.12
threedi-schema==0.300.26
threedidepth==0.6.3
threedigrid==2.3.5
threedigrid-builder==1.24.3
toolz==1.0.0
tqdm==4.67.1
traitlets==5.14.3
typing-extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
wcwidth==0.2.13
xarray==2025.4.0
xyzservices==2025.4.0
